@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@media screen and (max-width: 450px){
  #place-left{
    font-size: 1rem !important;
    left: 3%;
    top: -6% !important;
  }
}
body {
  font-family: 'Secular One', sans-serif;
}
body {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

/* css for header plus navbar */
#logo {
  font-family: 'Permanent Marker', cursive;
  font-size: 3rem;
}
#navigation {
  padding-left: 3vw;
}
.nav-link {
  font-size: 1.3rem;
}

#user-icon {
  margin-left: 1vw;
}
.event-name {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
#apply-now,
#report {
  width: 200px;
  height: 50px;
}
#event-content-text {
  padding: 2rem;
  padding-top: 0rem;
  font-size: 1.5rem;
  font-weight: 500;
}
#Profile{
  padding: 3%;
  border: #232526 solid 1px;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: white 0px 0px 10px;
  border: white solid 1px;
}

#status {
  font-size: 34px;
  margin: 3rem;
}
#user-profile {
  margin: 3rem;
}
#event-content-text ul {
  list-style-type: none;
  margin-top: 0.5rem;
}
#Comment-Area {
  border-top: grey solid 1px;
}


#event-left,
#event-left img {
  border: #232526 solid 1px;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: white 0px 0px 10px;
  border: white solid 1px;
}

p {
  margin-bottom: 0px !important;
}
.card-title{
  font-size: 2rem;
}
.card-text{
  font-size: 1.2rem;
}
#user p {
  text-align: start;
  font-weight: bold;
  font-size: 1rem;
}
#postedComment {
  padding-left: 40px;
  font-size: 1rem;
}

#no-login-msg{
  font-size: 2.5rem;
}

#comment-board {
  display: flex;
  flex-direction: column;
}
.card-img-top{
  object-fit: cover;
  aspect-ratio: 1/1 !important;
  width: 100% !important;
}
#place-left{
  padding: 1%;
  font-size: 1.5rem;
  left: 3%;
  top: -7%;
  background-color: rgb(127, 19, 19);
  border: rgb(127, 19, 19);
  box-shadow: rgb(255, 4, 0) 0px 0px 10px;
  border-radius: 5rem;
  width: 35%;
}