@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@700&display=swap');


/* css for header plus navbar */
#logo  {
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
}
#navigation{
    padding-left: 3vw;
}
.nav-link{
    font-size: 1.3rem;
}

/* css for other elements */
#user-icon {
    margin-left: 4%;
}

#joined-event-col {
    border: 5px solid rgba(63, 63, 63, 0.65);
    padding: 1rem;
    border-radius: 15px;
}

/* css for slider */
.homepage {
    display: block;
    font-size: 3rem;
    text-align: center;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    font-family: 'Gentium Book Plus', serif;
}

@media screen and (max-width: 550px) {
    .categories {
        margin-top: 0;
    }
}

/* css for categories */
.categories {
    font-size: 2rem;
    margin-top: 60px;
    margin-left: 100px;
    font-weight: bold;
    font-family: 'Gentium Book Plus', serif;
}

.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: (100% / 4 - 10px);
    margin: 20px;
    position: relative;
}

.card > div {
    position: absolute;
    top: 8px;
    left: 16px;
    /* background-color: black; */
    color: white;
    font-size: 2rem;
    font-family: 'Gentium Book Plus', serif;
    /* font-weight: bold;
    display: inline;
    width: 280px */
}

.card > img {
    opacity: 0.8;
    border-radius: 5px;
    height: 100%; 
    width: 100%; 
    max-width: 280px; 
    max-height: 280px;
}

.carousel-item {
    height: 500px;
}
