@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
  font-family: 'Secular One', sans-serif;
  color: white;
}
@media screen and (max-width: 770px){
  #joined-event-col .col-md-4{
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  #joined-event-col {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
  #bio-div {
    height: 150px;
    width: 100%;
  }
  #event-name {
    text-align: center;
    width: 100%;
  }

}

body {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* css for header plus navbar */
#logo {
  font-family: 'Permanent Marker', cursive;
  font-size: 3rem;
}
#navigation {
  padding-left: 3vw;
}
.nav-link {
  font-size: 1.3rem;
}

#user-icon {
  margin-left: 1vw;
}
/* css for other elements */

#joined-event-col,
#privacy-panel-email,
#privacy-panel-password,
#privacy-panel-other {
  padding: 1rem;
  border-radius: 15px;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: white 0px 0px 10px;
  border: white solid 1px;
}
#Profile button.btn,
#privacy-panel-email button.btn,
#privacy-panel-password button.btn,
#privacy-panel-other button.btn{
  background-color: rgba(13, 60, 136, 0.475) ;
  border: rgba(13, 60, 136, 0.475);
  box-shadow: white 0px 0px 10px;
  border: white solid 1px;
  height: 45px;
}
.btn-primary {
  background-color: rgba(13, 60, 136, 0.475) !important;
  border: rgba(13, 60, 136, 0.475) !important;
  box-shadow: white 0px 0px 10px;
  border: white solid 1px;
}
.btn-danger {
  background-color: rgba(136, 13, 60, 0.475) !important;
  border: rgba(136, 13, 60, 0.475) !important;
  box-shadow: white 0px 0px 10px;
  border: white solid 1px;
}

#followers {
  aspect-ratio: 1/1;
  height: 10px;
}

#follower-list {
  font-size: 1.1rem;
  height: 200px;
  list-style-type: none;
  overflow-y: scroll;
}
#follower-list li{
  margin-bottom: 3px;
}
#bio-text {
  height: 100px;
  overflow-y: scroll;
}

#privacy-panel-email,
#privacy-panel-password,
#privacy-panel-other {
  font-size: 1.5rem;
  border: #232526 solid 1px;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: white 0px 0px 10px;
  border: white solid 1px;
}
.modal-content {
  border: #232526 solid 1px;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: white 0px 0px 10px;
  border: white solid 1px;
}
#privacy-panel-email div,
#privacy-panel-password div,
#privacy-panel-other div {
  margin-bottom: 1rem;
}
.col-md-4 a {
  color: rgb(255, 251, 3);
  text-shadow: 0px 0px 10px rgb(255, 251, 3) ;
  font-size: 1.3rem;
}
.card {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: white 0px 0px 10px;
  border: white solid 1px;
}
.card-img-top{
  object-fit: cover;
  aspect-ratio: 1/1 !important;
  width: 100% !important;
}