<header class="p-3 bg-dark text-white">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        id="logo"
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-2 text-white text-decoration-none"
      >
        EL.
      </a>

      <ul
        id="navigation"
        class="nav col-12 col-lg-auto me-lg-auto justify-content-center mb-md-0"
      >
        <li>
          <a href="#" id="explore" class="nav-link px-2 text-white">Explore</a>
        </li>
        <li>
          <a href="#" id="create-event" class="nav-link px-2 text-white"
            >Create Event</a
          >
        </li>
        <li>
          <div class="dropdown">
            <a
              class="nav-link px-2 text-white dropdown-toggle"
              href="#"
              id="genre"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Genre
            </a>

            <ul class="dropdown-menu" aria-labelledby="genre">
              <li>
                <a
                  id="genre-sport"
                  class="dropdown-item"
                  href="/search.html?genre=sport"
                  >Sport</a
                >
              </li>
              <li>
                <a
                  id="genre-water"
                  class="dropdown-item"
                  href="/search.html?genre=water_activities"
                  >Water Activity</a
                >
              </li>
              <li>
                <a
                  id="genre-party"
                  class="dropdown-item"
                  href="/search.html?genre=party"
                  >Party</a
                >
              </li>
              <li>
                <a
                  id="genre-boardgame"
                  class="dropdown-item"
                  href="/search.html?genre=board_game"
                  >Board Game</a
                >
              </li>
              <li>
                <a
                  id="genre-workshop"
                  class="dropdown-item"
                  href="/search.html?genre=workshop"
                  >Workshop</a
                >
              </li>
              <li>
                <a
                  id="genre-gaming"
                  class="dropdown-item"
                  href="/search.html?genre=gaming"
                  >Gaming</a
                >
              </li>
              <li>
                <a
                  id="genre-online"
                  class="dropdown-item"
                  href="/search.html?genre=online_activities"
                  >Online Activity</a
                >
              </li>
              <li>
                <a
                  id="others"
                  class="dropdown-item"
                  href="/search.html?genre=others"
                  >others</a
                >
              </li>
            </ul>
          </div>
        </li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input
          id="header-search"
          type="search"
          class="form-control form-control-dark text-white bg-dark"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>

      <div id="account" class="text-end d-flex"></div>
    </div>
  </div>
</header>
