@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


/* css for header plus navbar */
#logo  {
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
}
#navigation{
    padding-left: 3vw;
}
.nav-link{
    font-size: 1.3rem;
}

#user-icon {
    margin-left: 4%;
}

